/* input {
    padding: 0px!important;
}
.ReactTable .pagination-bottom {
    height: 50px;
} */

.ReactTable .rt-thead.-filters input
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}
.select-wrap select{
    height: 500px;
}